<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Taco Cloud</title>
</head>
<body style="background-color: burlywood">
 <h1>Design your taco!</h1>
 <img th:src="@{images/tacopic.jpg}">

 <form method="post" th:object="${design}" th:action="@{/design}">
 
<div th:if="${#fields.hasErrors()}">
 <span class="validationError" style="font-color:red">Please correct problem below and resubmit</span>
 </div>
 
 <div class="grid">
 <div class="ingredient-group" id="wraps">
 <h3>Designate your wrap:</h3>
 <div th:each="ingredient: ${wrap}">
 <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
 <span th:text="${ingredient.name}">INGREDIENT</span>
 <br>
 </div>
 </div>

 <div class="ingredient-group" id="proteins">
 <h3>Pick your protein:</h3>
 <div th:each="ingredient: ${protein}">
 <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
 <span th:text="${ingredient.name}">INGREDIENT</span>
 <br>
 </div>
 </div>

 <div class="ingredient-group" id="cheeses">
 <h3>Choose your cheese:</h3>
 <div th:each="ingredient: ${cheese}">
 <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
 <span th:text="${ingredient.name}">INGREDIENT</span>
 <br>
 </div>
 </div>

 <div class="ingredient-group" id="veggies">
 <h3>Determine your veggies:</h3>
 <div th:each="ingredient: ${veggies}">
 <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
 <span th:text="${ingredient.name}">INGREDIENT</span>
 <br>
 </div>
 </div>

 <div class="ingredient-group" id="sauces">
 <h3>Select your sauce:</h3>
 <div th:each="ingredient: ${sauce}">
 <input type="checkbox" name="ingredients" th:value="${ingredient.id}"/>
 <span th:text="${ingredient.name}">INGREDIENT</span>
 <br>
 </div>
 </div>
 <h3> Name your taco creation:</h3>
 <input type="text" name="name">
 <br>
 <button>Submit your taco</button>
 </div>
 </form>
</body>

</html>