<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Taco Cloud</title>
	<link th:href="@{/styles/taco.css}" rel="stylesheet" />
</head>
<body>

 <h1> Order your taco creations! </h1>
 <img alt="taco logo" th:src="@{/images/tacopic.jpg}" height="100" width="100">

 <a th:href="@{/design}" id="another">Design another taco</a> <br/>

 <form method="post" th:action="@{/orders}" th:object="${order}">
 
 <div th:if="${#fields.hasErrors()}">
 
 	<span class="validationError">Please correct problem below and resubmit</span>
 </div>
 
 <h3>Deliver my taco order to ...</h3>
 
 <label for="name">Name: </label>
 <input type="text" th:field="*{name}"/>
 <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name Error</span>
 <br/>
 <label for="street">Street Address: </label>
 <input type="text" th:field="*{street}"/>
 <span class="validationError" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"> street Error</span>
 <br/>
 <label for="city">City: </label>
 <input type="text" th:field="*{city}"/>
 <span class="validationError" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"> city Error</span>
 <br/>
 <label for="state">State: </label>
 <input type="text" th:field="*{state}"/>
 <span class="validationError" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"> street Error</span>
 <br/>
 <label for="zip">Zip code: </label>
 <input type="text" th:field="*{zip}"/>
 <span class="validationError" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"> street Error</span>
 <br/>

 <h3> Here's how I pay ....</h3>
 
 <label for="ccNumber">Credit Card #:</label>
 <input type="text" th:fields="*{ccNumber}" />
 <span class="validationError" th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}"> CC Num Error</span>
 <br/>
 <label for="ccExpiration">Expiration: </label>
 <input type="text" th:fields="*{ccExpiration}" />
  <span class="validationError" th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}"> street Error</span>
 <br/>
 <label for="ccCVV">CVV: </label>
 <input type="text" th:fields="*{ccCVV}" />
 <span class="validationError" th:if="${#fields.hasErrors('ccCVV')}" th:errors="*{ccCVV}"> street Error</span>
 <br/>
 <input type="submit" value="Submit Order"/>

 </form>
</body>

</html>